body{
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, rgb(123, 252, 252), rgb(188, 255, 121));
    width: 100%;
    height: 100vh;
}

.container{
    background-color: #fff;
    width: 300px;
    padding: 20px 10px;
    margin: 20px auto;
    border-radius: 20px;
    box-shadow: 5px 5px 10px black;
}

.row{
    display: flex;
    background-color: #cdcdcd;
    justify-content: space-between;
    height: 30px;
    border-radius: 20px;
}

#passwordLength{
    border: none;
    outline: none;
    padding-left: 10px;
    background: transparent;
    flex: 1;
}

#btnGenerate{
    border: none;
    outline: none;
    background-color: rgb(133, 254, 133);
    border-radius: 20px;
    width: 80px;
    cursor: pointer;
}

.password{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.password input{
    margin-right: 20px;
}